extends layout

block styles
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
    include ../Public/stylesheets/profile.css

block mainbody
    img#id(src="/Public/images/Profile.png", alt="Firefly Logo")
    h1 profile 
    #money-info.container.panel
        h3 Total Money Earned: $#{moneyValues.moneyEarned}
        h3 Total Money Spent: $#{moneyValues.moneySpent}
        h3 Total Money Saved: $#{moneyValues.moneySaved}
    
    .container.panel
        h2 Goal Progress
        p.confirm #{removedMessage}
        p.confirm #{purchasedMessage}

        each goal in goals
            .goal 
                .goal-name
                    h5 #{goal.goalName} ($#{goal.goalPrice.toFixed(2)})
                .progress(style="height: 35px;")
                    .progress-bar.progress-bar-striped.bg-success(role="progressbar", style="width: #{width}%; height: 35px", aria-valuenow="50", aria-valuemin="0", aria-valuemax="100", class="progress-" + goal.progressMilestone) #{parseInt(goal.progress * 100/goal.goalPrice)}%
                form(action="/purchase", method="POST")
                    input(type="hidden" value=goal.goalID, name="purchaseID")
                    input(type="hidden" value=goal.goalPrice, name="purchasePrice")
                    button.btn.btn-primary(type="submit") Purchased
                form(action="/remove", method="POST")
                    input(type="hidden" value=goal.goalID, name="remove")
                    button.btn.btn-primary(type="submit") Remove

    script(src="/Public/scripts/profile.js")